body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

p {
    margin: 0;
}

ul {
    height: 90px;
    position: fixed;
    bottom: 50%;
    right: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(50%);
}

ul li {
    list-style: none;
    color: white;

}

ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 100%;
    cursor: pointer;
    display: block;
outline: none !important.
}

ul li a:hover {
    transform: scale(1.2);
    transition: .1s linear;
    
}

#one {
    background: red;
    height: 100vh;
}

#two {
    height: 100vh;
    background: yellow;
}

#three {
    height: 100vh;
    background: green;
}

#four {
    height: 100vh;
    background: black;
    color: white;
}

.active {
    transform: scale(1.2);
}

-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight-color: transparent;
